:host {
  display: block;
  border: 2px solid blue;
  padding: 10px;


  button {
    margin-top: 15px;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    padding: 10px;
    background-color: blue;
    color: white;
  }


}
